<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <div id="chat">
        <ul id="messages"></ul>
        <input id="message_input" autocomplete="off" /><button onclick="sendMessage()">Send</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(msg) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        });

        function sendMessage() {
            var message_input = document.getElementById('message_input');
            socket.emit('message', message_input.value);
            message_input.value = '';
        }
    </script>
</body>
</html>
