/* Style the dashboard button */
.dashboard-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.dashboard-button:hover {
    background-color: #45a049;
}

/* Center the photo container */
.photo-container {
    text-align: center;
    border: 1px solid gold; /* Add a gold border */
    padding: 20px; /* Add some padding for spacing */
    max-width: 500px; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Style the "Uploaded by" paragraph */
.photo-container p {
    margin-top: 1px;
}


/* Style the like button */
.like-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.like-button:hover {
    background-color: #45a049;
}

/* Style the delete comment button */
.delete-comment-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-comment-button:hover {
    background-color: #45a049;
}

.comments-container {
    margin-top: 10px;
}

