<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <title>Register</title>
    <style>
        .password-toggle {
            position: relative;
        }

        .password-toggle input[type="password"] {
            padding-right: 0px;
        }

        .password-toggle .toggle-eye {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="POST">
            <input type="text" id="username" name="username" required placeholder="Username">
            <div class="password-toggle">
    <input type="password" id="password" name="password" required placeholder="Password">
    <span class="toggle-eye hide-password" onclick="togglePasswordVisibility('password')"></span>
</div>

            <p id="password-status"></p>
            <input type="email" id="email" name="email" required placeholder="Email"><br>
            <div class="h-captcha" data-sitekey="cd1ad16a-2ccf-4431-bd40-151988d7dfa0"></div><br>
            <input type="submit" value="Register">
        </form>
    </div>
    <script src="{{ url_for('static', filename='register.js') }}"></script>
    <script>
        function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);
    const eyeIcon = document.querySelector(`#${inputId} + .toggle-eye`);

    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("hide-password");
        eyeIcon.classList.add("show-password");
    } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("show-password");
        eyeIcon.classList.add("hide-password");
    }
}

    </script>
</body>
</html>
